@mixin titles($fontSize) {
    font-weight: 300;
    font-size: $fontSize;
    color: $mainBlue;
    margin: 0;
}

// media queries
@mixin respond($breakpoint) {
    @if($breakpoint == small)  {
        @media (min-width: 530px) { @content }
    }
    @if($breakpoint == medium)  {
        @media (min-width: 800px) { @content }
    }
    @if($breakpoint == large)  {
        @media (min-width: 1200px) { @content }
    }
}