@mixin titles($fontSize, $fw:300, $color:$mainBlue) {
    font-weight: $fw;
    font-size: $fontSize;
    color: $color;
    text-align: center;
    margin: 0;
}

// media queries
@mixin respond($breakpoint) {
    @if($breakpoint == small)  {
        @media (min-width: 530px) { @content }
    }
    @if($breakpoint == medium)  {
        @media (min-width: 800px) { @content }
    }
    @if($breakpoint == large)  {
        @media (min-width: 1010px) { @content }
    }
}