.row {


    &__medium-4__image {
        width: 100%;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
        @include respond(medium) {
            margin-bottom: 1rem;
        }
    }

    &--t-padding {
        padding-top: 80px;
    }

    @include respond(medium) {

        &--medium {
            display: flex;

            &--offset-1 {
                > div {
                    flex-basis: 100%;
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }

            &--offset-2 {
                > div {
                    padding-left: 4.167%;
                    padding-right: 4.167%;
                }
            }

            &__4 {
                flex-basis: 33.33%;
            }

            &__6 {
                flex-basis: 50%;
            }

            &__8 {
                padding-left: 6.25%;
                flex-basis: 66.66%;
            }

            &--equal-height > div {
                display: flex;
            }
        }
        
    }
    // TODO use sass variable to reuse column design for medium and large
    // see https://css-tricks.com/snippets/sass/use-sass-variable-selector/
    @include respond(large) {

        display: flex;

        &__large-offset-1 {
            > div {
                padding-left: 2%;
                padding-right: 2%;
            }
        }

        &__large-offset-2 {
            > div {
                padding-left: 4.167%;
                padding-right: 4.167%;
            }
        }

        &__large-4 {
            flex-basis: 33.33%;
        }

        &__large-6 {
            flex-basis: 50%;
        }

        &__large-8 {
            padding-left: 6.25%;
            flex-basis: 66.66%;
        }

        &--equal-height-at-large > div {
            display: flex;
        }
    }
}