.section-title {
    font-size: 2.55rem;
    text-align: center;
    font-weight: 300;

    @include respond(small) {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0.6rem;
        @include respond(small) {
            display: inline-block;
            margin-right: 0.5rem;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}